*{
    margin: 0;
}
body{
    background-color: rgba(6, 155, 155, 0.775);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;

    background-color: rgb(4, 148, 148);

    background-color: #333; /* Dark gray background color */
    padding: 0 20px;    
    .left{
        font-size: 2rem;
    }
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    justify-content: space-around;
    list-style: none;
    margin: 0 24px;
}

nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(196, 145, 196, 0.785);
}

nav ul li a:hover{
    font-size: 1.3rem;
    color: rgba(203, 193, 203, 0.785);
}

.first_section{
    display: flex;
    justify-content: space-around;
    margin: 0 24px;
}

.first_section left{
    width: 30%;
    background-color: red;
}

.first_section img{
     width: 100%;
    height: 100%; 
}

.left_section{
    font-size: 2rem;
}

.my_name{
    /* display: inline; */
    color: rgb(8, 8, 184);
}

#element{
    color: rgb(8, 8, 184);
}



